.main {
    flex: 1;   
    padding: 1rem;
    overflow-y: auto; 
    background: rgb(207, 125, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    font-size: 220px;
    color: black;
    text-align: center;
}

.bottom {
    font-size: 130px;
    text-align: center;
}