.nav {
      flex: 0 0 7%;        /* fixed at 20% of viewport */
      background: #333;
      color: black;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      background-color: white;
}

  
.nav ul {
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 50px;     
}
  
.nav ul li a:hover {
      font-weight: bold;
}